body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
    background-image: url(https://images.rawpixel.com/image_800/cHJpdmF0ZS9sci9pbWFnZXMvd2Vic2l0ZS8yMDIyLTA1L2lzMTYwNjItaW1hZ2Uta3d2eWZrd3IuanBn.jpg);
}

header {
    background-color: rgb(255, 0, 0);
    text-align: center;
    padding: 15px;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 10px;
}

nav ul li a {
    text-decoration: none;
    font-weight: bold;
    color: white;
    background: black;
    padding: 10px;
    border-radius: 5px;
}
.content {
    text-align: left;
    margin-top: 20px;
}
.cont {
    text-align: left;
    margin-top: 20px;
}
